body,
html {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url("images/os-logo.png");
    width: 198px;
    height: 48px;
}